h1 {
    color: rgb(0, 59, 253);
    font-family: 'lemonmilkbold';
    text-align: center;
}
h5 {
    color: rgb(0, 59, 253);
    margin-top: -10px;
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
}
.centered-form {
    margin-top: 5%;
}
.full-width {
    width: 100%;
    margin: 5px auto;     
}
.btn-login {
    background-color: rgb(0, 59, 253);
    color: white;
    margin: 10px auto;
    padding: 2.5px 50px;
    display: block;
}
.bordered-form {
    padding: 70px 50px;
    border-bottom: 3px solid rgb(0, 59, 253);
    -webkit-box-shadow: 11px 10px 99px -64px rgba(0,0,0,0.4);
    -moz-box-shadow: 11px 10px 99px -64px rgba(0,0,0,0.4); 
    box-shadow: 11px 10px 99px -64px rgba(0,0,0,0.4);
}
.register-invitation {
    color: darkgrey;
    font-size: .75em;
    text-align: center;
}