h1 {
    font-family: 'lemonmilkbold';
    text-align: center;
    color: rgb(0, 59, 253);    
}
h5 {
    margin-top: -10px;
    color: rgb(0, 59, 253);    
    
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
}
h6 {
    color: rgb(0, 59, 253);    
    
    text-align: left;
}
.centered-form {
    margin-top: 5%;
}

.bordered-form {
    padding: 70px 50px;
    border-bottom: 3px solid rgb(0, 59, 253);
    -webkit-box-shadow: 11px 10px 99px -64px rgba(0,0,0,0.7);
    -moz-box-shadow: 11px 10px 99px -64px rgba(0,0,0,0.7); 
    box-shadow: 11px 10px 99px -64px rgba(0,0,0,0.7);
}
.register-invitation {
    color: darkgrey;
    font-size: .75em;
    text-align: center;
}