.aside-bar {
    position: fixed;
    width: 10vh;
    height: 100vh;
    background-color: rgb(0, 59, 253); 
    color: white;
    left: 0; 
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 11px 10px 99px -64px rgba(0,0,0,0.8);
    -moz-box-shadow: 11px 10px 99px -64px rgba(0,0,0,0.8); 
    box-shadow: 11px 10px 99px -64px rgba(0,0,0,0.8);
}
.brand-name {
    background-color: transparent;
    color: white;
    margin: 20px auto 10px auto;
    font-size: 3em;
    font-family: 'lemonmilkbold';
    text-decoration: none;          
}
.menu-items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu-item { 
    margin: 30px auto;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 2.5em;
}
.menu-item a {
    color: white;
    text-decoration: none;
}
.menu-item:hover {
    border-right: 5px solid white;
    cursor: pointer;
    color: white;
    transition: .2s border-right;
    background-color: rgb(19, 3, 109); 
}

