@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@font-face {
    font-family: 'lemonmilkbold';
    src: url('assets/fonts/lemonmilkbold-webfont.woff2') format('woff2'),
         url('assets/fonts/lemonmilkbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.home-container {
    margin-left: 10vh;
    padding: 50px 50px;
} 
.full-width {
    width: 100%;
    margin: 5px auto; 
}
.btn-login {
    background-color: rgb(0, 59, 253);
    color: white !important;
    margin: 30px auto;
    padding: 2.5px 50px;
}
